@tailwind base;
.stampix {
    filter: brightness(0) invert(1);
}

@media (min-width: 1023px) {
    .hover-brightness {
        filter: brightness(80%);
        transition: all 0.3s ease-in-out;
    }
    .hover-brightness:hover {
        filter: none;
        transition: all 0.3s ease-in-out;
    }
    .hover-trigger .hover-target {
        bottom: -25%;
        transition: all 0.3s ease-in-out;
    }
    .hover-trigger:hover .hover-target {
        bottom: 0;
        transition: all 0.3s ease-in-out;
    }
}

@tailwind components;
@tailwind utilities;